@CHARSET "ISO-8859-1";

body {
	background: #FFF8DC;
	margin: 0;
	padding-top: 0;
}

#addTopicDIV {
	visibility: hidden;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	left: 42%;
	top: 25%;
}
#addThreadDIV {
	visibility: hidden;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	left: 42%;
	top: 25%;
}
#addPostDIV {
	visibility: hidden;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	left: 42%;
	top: 25%;
}
#addCommentDIV {
	visibility: hidden;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	left: 42%;
	top: 25%;
}

.TopicDisplay {
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 50px;
	border-radius: 0 20px 0 20px;
	background: #990F00;
	font-size: 200%;
	color: white;
	width: 50%;
}
.ThreadDisplay {
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 50px;
	border-radius: 0 20px 0 20px;
	background: #990F00;
	font-size: 200%;
	color: white;
	width: 50%;
}

.TopicDisplay:hover {
	color: yellow;
}
.ThreadDisplay:hover {
	color: yellow;
}

.deleteIcon {
	color: rgba(0,0,0,0);
	box-shadow: none;
	background: url('../images/delete_icon.png') no-repeat;
	width: auto;
	display: inline-block;
}

.thumbsupIcon{
	color: rgba(0,0,0,0);
	box-shadow: none;
	background: url('../images/thumbsup.png') no-repeat;
	width: auto;
}
.thumbsdownIcon{
	color: rgba(0,0,0,0);
	box-shadow: none;
	background: url('../images/thumbsdown.png') no-repeat;
	width: auto;
}

.modifyIcon {
	color: rgba(0,0,0,0);
	box-shadow: none;
	width: auto;
	height: auto;
	margin: auto;
	display: inline-block;
}

.upIcon {
	color: rgba(0,0,0,0);
	box-shadow: none;
	background: url('../images/up_icon.png') no-repeat;
	width: auto;
	display: inline-block;
}

.downIcon {
	color: rgba(0,0,0,0);
	box-shadow: none;
	background: url('../images/down_icon.png') no-repeat;
	width: auto;
	display: inline-block;
}
.addIcon{
	color: rgba(0,0,0,0);
	box-shadow: none;
	background: url('../images/add_user_icon.png') no-repeat;
	width: auto;
	display: inline-block;	
}

#modNameDIV {
	visibility: hidden;
	top: 25%;
	left: 40%;
}

#modPostDIV {
	visibility: hidden;
	top: 25%;
	left: 40%;
}
#modCommentDIV {
	visibility: hidden;
	top: 25%;
	left: 40%;
	width: 450px;
	height: 300px;
}

#newPostParagraphDIV {
	overflow-y: scroll;
	border-style: solid;
	border-color: rgb(238,221,130); 
	border-width: 5px;
	font-family: "Times New Roman",Georgia,Serif;
	margin: auto;
	border-radius: 5px;
	margin-top: 30px;
	background: white;
	width: 450px;
	height: 300px;
	text-align: left;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

#newCommentParagraphDIV{
	overflow-y: scroll;
	border-style: solid;
	border-color: rgb(238,221,130); 
	border-width: 5px;
	font-family: "Times New Roman",Georgia,Serif;
	margin: auto;
	border-radius: 5px;
	margin-top: 30px;
	background: white;
	width: 450px;
	height: 300px;
	text-align: left;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
	
}

#postParagraph {
	overflow-y: scroll;
	border-style: solid;
	border-color: rgb(238,221,130); 
	border-width: 3px;
	font-family: "Times New Roman",Georgia,Serif;
	margin: auto;
	border-radius: 5px;
	margin-top: 30px;
	background: white;
	width: 500px;
	height: 200px;
	text-align: left;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

#commentParagraph {
	overflow-y: scroll;
	border-style: solid;
	border-color: rgb(238,221,130); 
	border-width: 3px;
	font-family: "Times New Roman",Georgia,Serif;
	margin: auto;
	border-radius: 5px;
	margin-top: 30px;
	background: white;
	width: 500px;
	height: 200px;
	text-align: left;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

#postParagraph p {
	color: black;
	font-weight: normal;
	border: none;
	text-align: justify;
}

#commentParagraph p {
	color: black;
	font-weight: normal;
	border: none;
	text-align: justify;
}

#textArea {
	border: none;
	height: 150%;
	width: 98%;
	resize: vertical; 
}

#postDIV {
	float: center;
	height: 300px;
	display: inline-block;
	width: 300px;
	min-width: 300px;
}
#commentDIV {
	float: center;
	height: 300px;
	display: inline-block;
	width: 300px;
	min-width: 300px;
}

#postIDHolder {
	box-shadow: none;
	border: none;
	text-align: center;
	color: rgba(0,0,0,0);
	background: url('../images/check_icon.png') no-repeat;
}