@font-face {
	font-family: Keen;
	src: url('../styles/font.otf') format('opentype');
}

body {
	font-family: Keen;
	color: #FF6600;
	background-image: url('../images/walltiles.jpg');
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: BLACK;
}

.Aelement {
	outline: none;
	color: white;
	text-decoration: none;
	border: none;
}

.Aelement:hover {
	color: yellow;
} 

.LoginHeader {
	z-index: 20;
	margin-top: 20px;
	text-align: right;
	padding:0;
	width: inherit;
	margin-right: 10%;
	margin-bottom: 30px;
}

.LoginHeader #loginButton {
	margin-top: 15px;
	margin-right: 5px;
}

#createAccount:hover {
	color: #FFFF99;
}

#createAccount {
	font-weight: 900;
	text-decoration: none;
}

#conceptDIV {
	display: inline-block;
	text-shadow: 0 0 0.2em white, 0 0 0.2em white,
        0 0 0.2em white;
    color: #A0522D;
	font-size: 270%;
	margin: 30px;
	text-align: left;
	display: inline-block;
}

.loginContainer {
	display: inline-block;
	text-align: left;
	margin-right: 25px;
}

.loginContainer label {
	margin-bottom: 5px;
	display: block;
}

p {
	font-weight: 900;
	display: inline;
	margin: 22px;
}

input {
	box-shadow: .5px .5px 2px black;
	/* height: 100%; */
	height: 25px;
	width: 120px;
	border: none;
	border-radius: 2px;
	padding-left: 10px;
	margin-left: 18px;
}

.registerInput {
	display: inline-block;
	margin: 10px;
	color: #827878;
	
}

.buttonWhite {
	line-height: 30px;
	text-align: center;
	margin-right: 25px;
	display: inline-block;
	width: 100px;
	height: 30px;
	font-weight: 900;
	color: black;
	background-color: white;
	text-decoration: none;
	border-radius: 7px;
	opacity: 0.7;
}

.FloatingTitle {
	margin: 2px 2px 2px 2px;
	border: 1px;
	color: #A0522D;
}

#logoImage {
	vertical-align: middle;
}

#logo {
	vertical-align: middle;
}

.Title {
	opacity: .75;
	height: 150px;
	line-height: 150px;
	width: inherit;
	margin: 0;
	background-color: WHITE;
	box-shadow: BLACK 1px 2px 15px;
}

#registerForm {
	text-align: left;
	display: inline-block;
	margin-right: 10%;
	margin-top: 30px;
}

#registerLabel {
	margin-left: 10px;
	font-weight: bold;
	color: #A0522D;
}

#emailInput {
	width: 90%;
}

#registerButton {
	margin-top: 20px;
	margin-left: 10px;
	width: 130px;
}

#forgotPassword {
	border: none;
	background: white;
	margin-top: 20px;
	width: 150px;
	color: #8D1919;
	margin-right: 10px;
	opacity: .4;
}

#forgotPassword:HOVER {
	opacity: .9;
}

/* User's options panel */

.LoggedHeader {
	z-index: 100;
	top:0px;
	vertical-align: middle;
	line-height: 85px;
	background: url('../images/walltiles3.jpg') repeat-x;
	position: fixed;
	margin: 0;
	width: 100%;
	text-align: right;
}

#logoDIV {
	position: absolute;
	top: 29px;
	left: 50px;
	vertical-align: middle;
}

.Options {
	display: inline-block;
	width: 90%;
	vertical-align: middle;
}

.LoggedHeader img {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.Icons {
	opacity: .7;
	cursor: pointer;
	cursor: hand;
}

.Icons:hover {
	cursor: pointer;
	cursor: hand;
}



#menuDIV {
	text-align: right;
	position: absolute;
	right:45px;
	top: 60px;
	visibility: hidden;
	opacity: 0;
	background: #993300;
	border-radius: 5px;
	width: 150px;
	padding-bottom: 15px;
}

#menuDIV img {
	margin: 10px;
}

#closeMenuDIV {
	text-align: center;
	margin: 5px;
	width: auto;
	border-radius: 25px;
}

#closeMenuDIV:hover {
	opacity: 1;
}

.PageBody {
	box-shadow: 0 0 20px #000000;
	display: block;
	border-radius: 10px;
	margin: 120px 50px 100px 50px;
	background-color: rgba(50,0,70,.1);
	padding-bottom: 50px;
}

.TopicInput {
	height: auto;
	color: white;
	background: rgba(0,0,0,0);
	width: auto;
	font-size: 110%;
	font-family: Keen;
	box-shadow: none;
}

.TopicInput:hover {
	color: yellow;
}

.PageBody img {
	vertical-align: middle;
	margin: 20px;
	margin-bottom: 50px;
}

#searchSPAN {
	margin-right: 25px;
}

.PopUp {
	z-index: 10;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 5px;
	position: absolute;
	background: rgba(160,82,45,0.9);
}

.IconInputs {
	box-shadow: none;
	display: inline-block;
	padding: none;
	color: rgba(0,0,0,0);
}