#usersDIV {
	box-shadow: 0 0 20px #000000;
	background-color: rgba(50,0,70,0.1);
	border-radius: 10px;
	width: 75%;
	margin: auto;
	margin-top: 150px;
	padding: 30px;
}

#modifyDIV {
	position: absolute;
	height: 100px;
	width: 250px;
	background: #A0522D;
	visibility: hidden;
}

#addUserDIV input {
	color: black;
}

#deleteUserInput {
	color: rgba(0,0,0,0);
	width: auto;
	background: url('../images/delete_user_icon.png');
	background-repeat: no-repeat;
}

#deleteProdInput {
	color: rgba(0,0,0,0);
	width: auto;
	background: url('../images/delete_icon.png');
	background-repeat: no-repeat;
}




#modifyUserInput {
	color: rgba(0,0,0,0);
	width: auto;
	background: url('../images/modif_icon.png');
	background-repeat: no-repeat;
}

#addUserDIV {
	padding-left: 30px;
	visibility: hidden;
	padding-bottom: 20px;
	background: #993300;
	left: 35%;
}

#closeUDIV {
	margin-top: 10px;
}

#comboBox {
	border-radius: 5px;
	color: gray;
	margin-left: 10px;
	font-size: 100%;
}

#modifyUserDIV {
	top: 20%;
	text-align: left;
	padding: 15px;
	position: absolute;
	margin-left: 33%;
	visibility: hidden;
	background: #993300;
	border-radius: 5px;
}

#modifyRoleCombo {
	display: block;
	margin-left: 20px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#showModInput {
	vertical-align: middle;
	padding-bottom: 2px;
}

#modSubmit {
	width: auto;
	box-shadow: none;
	background: url('../images/check_icon.png');
	background-repeat: no-repeat;
	color: rgba(0,0,0,0);	
	
}