body { 
	text-align: center;
}

#contentBody {
	min-width: 800px;
	position: relative;
	top: 150px;
	left: 20%;
	padding: 20px 20px 20px 20px;
	min-width: 800px;
	box-shadow: 0 0 20px #000000;
	border-radius: 10px;
	background-color: rgba(50,0,70,.1);
	padding-top: 20px;
	padding-bottom: 50px;
}

li {
	color: 	#5D8AA8;
	margin: 0 0 1em 0;
}

li:hover {
	color: #915C83;
}

#actionsDIV {
	margin-right: 25px;
	float: left;
	display: inline-block;
	background: rgba(238,221,130,0.4);
	text-align: center;
	padding: 20px;
}

#actionsDIV ul {
	padding-left: 0;
	text-align: center;
}

#messagesTable td {
	line-height: 30px;
	padding-top: 5px;
	vertical-align: middle;
	border-radius: 5px;
	background: white;
}

table {
	color: #FFCC00;
	border-collapse: separate;
	border-spacing: 5px;
	width: 100%;
}

th {
	color: rgba(238,221,130, 0.6);
	background: rgba(139,54,38,0.7);
}

#messagesDIV {
	float: left;
	height: 600px;
	display: inline-block;
	width: 650px;
	background: rgba(238,221,130,0.4);
	min-width: 600px;
}

.InnerDivs {
	box-shadow: 0 0 9px #000000;
	border-radius: 5px;
}

input {
	margin: 0;
	padding-left: 6px;
}



#deleteMessageInput {
	display: inline-block;
	padding: none;
	color: rgba(0,0,0,0);
	width: 20px;
	height: 21px;
	background: url('../images/delete_message_icon.png') no-repeat;
}

#openMessageInput {
	display: inline-block;
	color: rgba(0,0,0,0);
	height: 20px;
	width: 33px;
	background: url('../images/open_message_icon.png') no-repeat;
}

#iconsHolderTd {
	width: 70px;
	line-height: 30px;
}

#messageBodyDIV {
	top: 24%;;
	left: 35%;
	visibility: hidden;
	min-width: 500px;
	min-height: 400px;
}

#newMessageDIV {
	top: 24%;;
	left: 35%;
	visibility: hidden;
	min-width: 500px;
	min-height: 400px;
}

#newMessageParagraphDIV {
	overflow-y: scroll;
	border-style: solid;
	border-color: rgb(238,221,130); 
	border-width: 5px;
	font-family: "Times New Roman",Georgia,Serif;
	margin: auto;
	border-radius: 5px;
	margin-top: 30px;
	background: white;
	width: 450px;
	height: 300px;
	text-align: left;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

#textArea {
	border: none;
	height: 150%;
	width: 98%;
	resize: vertical; 
}

#messageParagraph {
	overflow-y: scroll;
	border-style: solid;
	border-color: rgb(238,221,130); 
	border-width: 5px;
	font-family: "Times New Roman",Georgia,Serif;
	margin: auto;
	border-radius: 5px;
	margin-top: 30px;
	background: white;
	width: 450px;
	height: 300px;
	text-align: left;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

#messageParagraph p {
	color: black;
	font-weight: normal;
	border: none;
	text-align: justify;
}

#errorDIV {
	padding: 8px;
	z-index: 20000;
	color: yellow;
	position: absolute;
	left: 45%;
	top: 30px;
	visibility: hidden;
}

#searchBar {
	padding: 10px;
	text-align: right;
	background: rgba(238,221,130,0.4);
	margin-bottom: 10px;
}