@font-face {
	font-family: 'Keen';
	src: url('../styles/font.otf') format('opentype');
}

body {
	font-family: Keen;
	color: #FF9933;
}

#searchDIV {
	text-align: left;
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
	vertical-align: middle;
}

#searchDIV img {
	vertical-align: middle;
	margin-left: 10px;
}

#usersTable td {
	
	line-height: 30px;
	padding-top: 5px;
	vertical-align: middle;
	border-radius: 5px;
	background: white;
}

#usersTable input {
	box-shadow: none;
	border-radius: 0;
	border: none;
	margin: auto;
}

table th {
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	background: #FF6600;
}

table {
	border-collapse: separate;
	border-spacing: 8px;
	width: 100%;
}